# Dependencies
**/node_modules

# Build output
**/dist
**/out
**/build

# Vite
**/.vite
**/.next

# Database
**/sentiment.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

"scripts": {
  "dev": "vite",
  "build": "vite build",
  "preview": "vite preview"
}
